PORT=3000
GEMINI_API_KEY=your_gemini_api_key_here
AFRICAS_TALKING_USERNAME=sandbox
AFRICAS_TALKING_API_KEY=your_at_api_key_here
IPFS_GATEWAY_URL=https://ipfs.io/ipfs/
PINATA_JWT=YOUR_PINATA_JWT_HERE
HLF_CONNECTION_PROFILE=../../medichain-network/connection-profile.json
HLF_WALLET_PATH=./wallet
HLF_CHANNEL_NAME=medichain
